In [43]:
import pandas as pd
import morePVs_output as opm
import morePVs as mpv
import os
import en_utilities as um
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.lines as mlines


f = 'C:\\Users\\z5044992\\Documents\\MainDATA\\DATA_EN_3\\studies\\EN1_value_of_pv2\\outputs\\combined_value6\\combined_value6_results.csv'

In [44]:

project='EN1_value_of_pv2'
study_name='combined_value6'
base_path='C:\\Users\\z5044992\\Documents\\MainDATA\\DATA_EN_3\\studies'
op = opm.Output(base_path = base_path,
                          project = project,
                          study_name = study_name)

short_name = 'value6'

In [45]:
self = op
df = self.data.copy()
df_in = self.study_parameters.copy()
df = df.merge(df_in,left_index = True, right_index=True)
for c in df.columns:
    if '_x' in c:
        nc = c[:-2]
        df.rename(columns={c:nc}, inplace=True)
df.head()

,scenario_label,arrangement,number_of_households,load_folder,central_battery_kWh,en_opex,en_capex_repayment,pv_capex_repayment,average_hh_bill$,average_hh_solar_bill$,...,arrangement_y,pv_cap_id,cp,all_residents,parent,network_tariff,en_capex_id,a_term,a_rate,site_tag
scenario,,,,,,,,,,,,,,,,,,,,,
A0,siteA_value6_000,bau,208.0,h_all_site_A,0.0,0.00,0.000000,0.000000,1210.652254,0.0,...,bau,NaN,EASO_TOU_15pc,EASO_TOU_15pc,TIDNULL,EA310,NaN,5.0,0.06,a208_f12_cp34
A1,siteA_value6_001,btm_s_c,208.0,h_all_site_A,0.0,12514.92,24906.834866,12277.102283,1157.124319,0.0,...,btm_s_c,site_A_max,EASO_TOU_15pc,EASO_TOU_15pc,TIDNULL,EA310,upfront_1,5.0,0.06,a208_f12_cp34
A2,siteA_value6_002,btm_s_c,208.0,h_all_site_A,0.0,12514.92,14302.993306,7050.245955,1157.124319,0.0,...,btm_s_c,site_A_max,EASO_TOU_15pc,EASO_TOU_15pc,TIDNULL,EA310,upfront_1,10.0,0.06,a208_f12_cp34
A3,siteA_value6_003,btm_s_c,208.0,h_all_site_A,0.0,12514.92,10871.576287,6842.075547,1157.124319,0.0,...,btm_s_c,site_A_max,EASO_TOU_15pc,EASO_TOU_15pc,TIDNULL,EA310,upfront_1,15.0,0.06,a208_f12_cp34
A4,siteA_value6_004,btm_s_c,208.0,h_all_site_A,0.0,12514.92,9229.924613,5808.894665,1157.124319,0.0,...,btm_s_c,site_A_max,EASO_TOU_15pc,EASO_TOU_15pc,TIDNULL,EA310,upfront_1,20.0,0.06,a208_f12_cp34

In [20]:

sites=['A','E','D','B','H','I','G','C','J','F']

In [50]:
df['site'] = df['load_folder'].apply(lambda x : x[-1:])
df.head()

,scenario_label,arrangement,number_of_households,load_folder,central_battery_kWh,en_opex,en_capex_repayment,pv_capex_repayment,average_hh_bill$,average_hh_solar_bill$,...,pv_cap_id,cp,all_residents,parent,network_tariff,en_capex_id,a_term,a_rate,site_tag,site
scenario,,,,,,,,,,,,,,,,,,,,,
A0,siteA_value6_000,bau,208.0,h_all_site_A,0.0,0.00,0.000000,0.000000,1210.652254,0.0,...,NaN,EASO_TOU_15pc,EASO_TOU_15pc,TIDNULL,EA310,NaN,5.0,0.06,a208_f12_cp34,A
A1,siteA_value6_001,btm_s_c,208.0,h_all_site_A,0.0,12514.92,24906.834866,12277.102283,1157.124319,0.0,...,site_A_max,EASO_TOU_15pc,EASO_TOU_15pc,TIDNULL,EA310,upfront_1,5.0,0.06,a208_f12_cp34,A
A2,siteA_value6_002,btm_s_c,208.0,h_all_site_A,0.0,12514.92,14302.993306,7050.245955,1157.124319,0.0,...,site_A_max,EASO_TOU_15pc,EASO_TOU_15pc,TIDNULL,EA310,upfront_1,10.0,0.06,a208_f12_cp34,A
A3,siteA_value6_003,btm_s_c,208.0,h_all_site_A,0.0,12514.92,10871.576287,6842.075547,1157.124319,0.0,...,site_A_max,EASO_TOU_15pc,EASO_TOU_15pc,TIDNULL,EA310,upfront_1,15.0,0.06,a208_f12_cp34,A
A4,siteA_value6_004,btm_s_c,208.0,h_all_site_A,0.0,12514.92,9229.924613,5808.894665,1157.124319,0.0,...,site_A_max,EASO_TOU_15pc,EASO_TOU_15pc,TIDNULL,EA310,upfront_1,20.0,0.06,a208_f12_cp34,A

In [73]:
df2=pd.DataFrame()
for s in sites:
    df2.loc[s,'sc_i'] = df.loc[(df['site']==s) & (df['arrangement']=='btm_icp') & (df['pv_cap_id'].str.contains('max')), 'self-consumption_mean'].max()
    
    df2.loc[s,'sc_s'] = df.loc[(df['site']==s) & (df['arrangement']=='btm_s_c') & (df['pv_cap_id'].str.contains('max')), 'self-consumption_mean'].max()

In [74]:
df2

        sc_i        sc_s
A  92.772354  100.000000
E  84.666822  100.000000
D  93.183119  100.000000
B  97.177916  100.000000
H  35.665131   46.365444
I  51.385719   76.079840
G  44.276399   62.836940
C  90.261445  100.000000
J  43.917634   53.057464
F  59.294562   74.827885